* {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    
}

body {
    
    background-image: url(imagem.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: 0.3rem 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
  }

.imagemtop {
    background: url(bullyingnao.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    width: 500px;
    height: 300px;
    background-position: center ;

}

.perfilv {
    color: orangered;
    font-style: italic;
    font-weight:bolder;
}
.perfilvimagem{
    background: url(nobullying.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-size: center;


}

.p1 {
    font-style: italic;
    color: black;
    font-weight: bolder;

}

.p2 {
    font-style: italic;
    color: black;
    font-weight: bolder;

}

.p3 {
    font-style: italic;
    color: black;
    font-weight: bolder;
}

.masculino {
    font-style: italic;
    color: blue;
    font-weight: bold;

}

.feminino {
    font-style: italic;
    color: red;
    font-weight: bold;

}

.bloc1 {
    font-style: italic;
    color: red;
    font-weight: bold;

}

.bloc2 {
    font-style: italic;
    color: red;
    font-weight: bold;

}

.bloc3 {
    font-style: italic;
    color: red;
    font-weight: bold;

}

.bloc4 {
    font-style: italic;
    color: red;
    font-weight: bold;

}

.p4 {
    font-style: italic;
    color: black;
    font-weight: bolder;
}

.p5 {
    font-style: italic;
    color: black;
    font-weight: bolder;
}

.p6 {
    font-style: italic;
    color: black;
    font-weight: bolder;
}
.cenasbullying {
    background: url(cenasbullying2.jpg);
    background-size: contain;
    background-repeat: repeat;
}

.p7 {
    font-style: italic;
    color: black;
    font-weight: bolder;
}

.sp1 {
    font-style: italic;
    color: yellow;
    font-weight: bolder;
}

.sp2 {
    font-style: italic;
    color: yellow;
    font-weight: bolder;
}

.sp3 {
    font-style: italic;
    color: yellow;
    font-weight: bolder;
}

.sp4 {
    font-style: italic;
    color: yellow;
    font-weight: bolder;
}
.imagemagr {
    background: url(bullying2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 10px;
}
    

.agressor {
    color: red;
    font-weight: bold;
}

.idade {
    color: red;
    font-weight: bold;

}

.motagressor {
    color: black;
    font-weight: bold;
}
.button:hover{
    color: red;
    font-weight: bold;
}